<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    
    <app-input inputType="text" label="Username" [control]="authForm.get('username')"></app-input>
    <app-input inputType="password" label="Password" [control]="authForm.get('password')"></app-input>
    <app-input 
        inputType="password"
        label="Password Confirmation" 
        [control]="authForm.get('passwordConfirmation')">
    </app-input>
    <!-- {{authForm.get('username').errors | json}} -->
    <!-- {{authForm.get('password').errors | json}} -->
    <!-- {{authForm.get('passwordConfirmation').errors | json}} -->

    <div *ngIf="
            authForm.get('password').touched && 
            authForm.get('passwordConfirmation').touched &&
            authForm.errors
        " 
        class="ui red basic label">
        <p *ngIf="authForm.errors.passwordsDontMatch">
            Password and passwordConfirmation must match
        </p>
        <p *ngIf="authForm.errors.noConnection || authForm.errors.unknowError">
            No Connection, faied to signup
        </p>
    </div>

    <div>
        <button type="submit" class="ui submit button primary">Submit</button>
    </div>
    {{authForm.errors | json}}
</form>
